/**
 * style.css
 *
 * Description: Global styles for plugin demo pages
 * Author: Nomensa
 *
 */

body {
    background-color: #fff;
    color: #333;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 100%;
    line-height: 1.5;
    margin: 0 20px;
}

input,
button,
select,
textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

a[href] {
    color: #428bca;
    text-decoration: underline;
}

a[href]:hover,
a[href]:focus {
    color: #2a6496;
    text-decoration: none;
}

a[href]:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

figure {
    margin: 0;
}

img {
    vertical-align: middle;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eeeeee;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}

h4,
h5,
h6 {
    margin-top: 10px;
    margin-bottom: 10px;
}

h1 {
    font-size: 36px;
    font-weight: 700;
    margin: 0;
}

h2 {
    font-size: 30px;
    margin: 1.5em 0 1em;

}

h3 {
    font-size: 24px;
    margin: 1em 0;
}

h4 {
    font-size: 18px;
}

h5 {
    font-size: 14px;
}

h6 {
    font-size: 12px;
}

p {
    margin: 1em 0;
}

cite {
    font-style: normal;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 10px;
}

ul p {
    font-size: 87.5%;
    margin-top: 0;
}

ul ul,
ol ul,
ul ol,
ol ol {
    margin-bottom: 0;
}

dl {
    margin-top: 0;
    margin-bottom: 20px;
}

dt,
dd {
    line-height: 1.5;
}

dt {
    font-weight: bold;
    margin-top: 0.5em;
}

dd {
    margin-left: 0;
}

abbr[title],
abbr[data-original-title] {
    cursor: help;
    border-bottom: 1px dotted #999;
}

blockquote {
    padding: 10px 20px;
    margin: 0 0 20px;
    border-left: 5px solid #eee;
}

blockquote p:last-child,
blockquote ul:last-child,
blockquote ol:last-child {
    margin-bottom: 0;
}

blockquote footer,
blockquote small {
    display: block;
    font-size: 80%;
    line-height: 1.4;
    color: #999;
}

blockquote footer:before,
blockquote small:before {
    content: '\2014 \00A0';
}

blockquote:before,
blockquote:after {
    content: "";
}

address {
    margin-bottom: 20px;
    font-style: normal;
    line-height: 1.42857143;
}

code,
kbd,
pre,
samp {
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}

code {
    padding: 2px 4px;
    font-size: 87.5%;
    color: #c7254e;
    background-color: #f9f2f4;
    white-space: pre-wrap;
    border-radius: 4px;
}

kbd {
    padding: 2px 4px;
    font-size: 90%;
    color: #fff;
    background-color: #333;
    border-radius: 3px;
    box-shadow: inset 0 -1px 0 rgba(0,0,0,0.25);
}

pre {
    display: block;
    padding: 1em 15px;
    margin: 0 0 10px;
    font-size: 1em;
    line-height: 1.4;
    color: #333;
    background-color: #f7f7f9;
    border: 1px solid #e1e1e8;
    border-radius: 4px;
    word-break: break-all;
    word-wrap: break-word;
}

pre code {
    padding: 0;
    font-size: inherit;
    color: inherit;
    white-space: pre-wrap;
    background-color: transparent;
    border-radius: 0;
}

table {
    max-width: 100%;
    background-color: transparent;
}

th {
    text-align: left;
}

table {
    border: 1px solid #ddd;
    margin-bottom: 20px;
    width: 100%;
}

table > thead > tr > th,
table > tbody > tr > th,
table > tfoot > tr > th,
table > thead > tr > td,
table > tbody > tr > td,
table > tfoot > tr > td {
    padding: 8px;
    line-height: 1.5;
    vertical-align: top;
    border-top: 1px solid #ddd;
}

table > thead > tr > th {
    vertical-align: bottom;
    border-bottom: 2px solid #ddd;
}

table > thead > tr > th,
table > tbody > tr > th,
table > tfoot > tr > th,
table > thead > tr > td,
table > tbody > tr > td,
table > tfoot > tr > td {
    border: 1px solid #ddd;
}

table-bordered > thead > tr > th,
table-bordered > thead > tr > td {
    border-bottom-width: 2px;
}

table > tbody > tr:nth-child(odd) > td,
table > tbody > tr:nth-child(odd) > th {
    background-color: #f9f9f9;
}

table > tbody > tr:hover > td,
table > tbody > tr:hover > th {
    background-color: #f5f5f5;
}

fieldset {
    padding: 0;
    margin: 0;
    border: 0;
    min-width: 0;
}

legend {
    display: block;
    width: 100%;
    padding: 0;
    margin-bottom: 20px;
    font-size: 21px;
    line-height: inherit;
    color: #444;
    border: 0;
    border-bottom: 1px solid #e5e5e5;
}

label {
    display: inline-block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="search"] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

input[type="radio"],
input[type="checkbox"] {
    margin: 4px 0 0;
    margin-top: 1px;
    /* IE8-9 */
    line-height: normal;
}

input[type="file"] {
    display: block;
}

input[type="range"] {
    display: block;
    width: 100%;
}

select[multiple],
select[size] {
    height: auto;
}

input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

output {
    display: block;
    padding-top: 7px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555555;
}

input[type="search"] {
    -webkit-appearance: none;
}

input[type="date"] {
    line-height: 34px;
}

input[type="radio"][disabled],
input[type="checkbox"][disabled],
fieldset[disabled] input[type="radio"],
fieldset[disabled] input[type="checkbox"] {
    cursor: not-allowed;
}

input:focus,
button:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

/* header */
.header {
    background-color: #f8f8f8;
    border-bottom: 1px solid #e7e7e7;
    margin: 0 -20px 1em;
    padding: 10px 20px;
}

.header p,
.header h1 {
    margin: 0 auto;
    max-width: 768px;
}

.header img {
    margin-right: 10px;
}

/* main */
.main {
    margin: 0 auto;
    max-width: 768px;
}

/* footer */
.footer {
    background: #1b365f;
    margin: 2em -20px 0;
    padding: 1em;
}

.footer div {
    margin: 0 auto;
    max-width: 768px;
}

.footer p {
    color: white;
    font-size: 1.2em;
}

.footer a {
    color: #fdc329;
}

.row {
    padding: 10px 0;
}